# all pycache 
/backend/__pycache__
/mainApp/__pycache__
/users/__pycache__
/mainApp/utilities/__pycache__

# all the migrations
/mainApp/migrations

# auto generated db 
/db.sqlite3

# enviroment 
# /.env

